//
// Dependencies
//
@import "./../../dependencies";

//
// Comments
//
.comments-wrapper {
  background-color: $gray-100
}

.block-entity-fieldnodecomment {
  .block-title-wrapper {
    margin-bottom: 3rem;
  }
}

.comment-wrapper {
  a {
    transition: all .2s ease-in-out;
  }
  .form-wrapper > .form-group {
    margin-top: 0;
  }
  label, .grippie {
    display: none;
  }
  textarea {
    height: 70px;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
    &:focus {
      height: 120px;
    }
  }
  input[type="text"], textarea {
    border-color: rgba($gray-blue-900, .15);
    &:hover, &:focus {
      border-color: rgba($gray-blue-900, .3);
    }
  }
}

.comment-user-info {
  margin: 0 0 10px;
  padding: 0 0 0 10px;
  border-left: $comments__user-info-border--left;
  font-family: $theme-secondary-font;
  font-size: 1rem;
  line-height: 1rem;
  > div {
    display: inline-block;
    vertical-align: middle
  }
}

.user-image {
  flex: 0 0 50px;
  overflow: hidden;
  img {
    border-radius: 50%;
  }
}

.comment-user-name {
  color: $comments__user-name-color;
  font-size: $small-font-size;
  font-weight: bold;
  text-transform: uppercase;
  a {
    color: $comments__user-name-color;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.comment-date {
  color: $theme-font-color--lighter;
  font-size: $small-font-size;
}


//
// Comment
//
.comment {
  display: flex;
  margin-bottom: 3rem;
  color: $comments__comment-text-color;
  font-weight: normal;
  @include media-breakpoint-up(lg) {
    font-size: .9rem;
  }
}


//
// Replays (indented comments)
//
.indented .comment {
  margin-left: 42px;
  .user-image {
    flex: 0 0 36px;
  }
}

.indented > .indented {
  margin-left: 36px;
}


//
// Comment Links
//
.comment-links-wrapper {
  font-family: $theme-secondary-font;
  font-size: 70%;
  text-transform: uppercase;
  @include media-breakpoint-up(lg) {
    font-size: 65%;
  }
  a {
    font-weight: bold;
    &:hover {
      color: #000;
    }
  }
}


//
// New Comment Mark
//
mark {
  display: inline-block;
  background-color: $red;
  height: 14px;
  padding: 0 5px;
  color: #FFF;
  font-family: $theme-secondary-font;
  font-size: 65%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 14px;
}
