//
// Dependencies
//
@import "./../../dependencies";

//
// Form item
//
.form-item,
.form-actions {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.form-item {
  font-family: $theme-secondary-font;
  label:not(.option) {
    margin-left: 20px;
    font-size: .778rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}


//
// Text input fields
//
%text-input {
  appearance: none;
  display: block;
  width: 100%;
  padding: 10px 1rem;
  border: 1px solid;
  border-color: $input-border-color;
  border-radius: $input-border-radius;
  font-family: $theme-secondary-font;
  font-size: .85rem;
  outline: none;
  transition: border-color .15s;
  @include media-breakpoint-up(md) {
    font-size: .85rem;
  }
  &:focus, &:active {
    border-color: $input-border-color--active;
    outline: none;
    &::placeholder {
      opacity: .7;
    }
  }
  &::placeholder {
    color: $gray-blue-300;
    transition: opacity .2s;
  }
}

@each $type in text, password, color, date, datetime-local, email, month, number, range, search, tel, time, url, week {
  input[type=#{$type}] {
    @extend %text-input;
  }
}


//
// Select
//
select {
  @extend %text-input;
  width: auto;
  height: 40px;
}


//
// Text Area
//
textarea {
  @extend %text-input;
}


//
// Radio & Checkbox
//
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: .1em;
  margin-bottom: .1em;
  label.option {
    font-size: .9rem;
  }
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}


//
// Form Action Wrapper
//
.form-actions {
  .button {
    margin-right: .278rem;
  }
}


//
// Button
//

a.button,
.button > a,
button.button,
input[type="submit"].button {
  display: inline-block;
  background-color: transparent;
  padding: 10px 1.5rem;
  border: 1px solid;
  border-color: $input-border-color;
  border-radius: $button-border-radius;
  font-family: $theme-secondary-font;
  font-size: .85rem;
  font-weight: bold;
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #FFF;
    border-color: $gray-blue-50;
    color: $gray-blue-900;
    box-shadow: 0 2px 20px 0 rgba($gray-blue-900, .3);
  }
  &:active {
    box-shadow: none;
  }
}

a.button.primary,
.button.primary > a,
a.button.button--primary,
button.button--primary,
input[type="submit"].button.button--primary {
  background-color: $gray-blue-900;
  border-color: $gray-blue-900;
  color: #FFF;
  &:hover {
    background-color: $theme-primary-color;
    border-color: $theme-primary-color;
    color: #FFF;
  }
}


//
// Overriding bootstrap buttons to use theme's button style.
//
.btn-primary {
  background-color: $gray-blue-900;
  border-color: $gray-blue-900;
  &:hover, &:active {
    background-color: $theme-primary-color;
    border-color: $theme-primary-color
  }
  &:focus {
    box-shadow: none!important;
  }
}


//
// Descriptions
//
.description {
  margin: 10px 20px 0;
  font-size: .778rem;
  color: $theme-font-color--lighter;
  a {
    text-decoration: underline;
  }
}


//
// Details
//
details {
  summary {
    display: block;
    background-color: lighten($gray-blue-50, 2%);
    padding: 1rem;
    font-family: $theme-secondary-font;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    &:before {
      font-family: "Font Awesome 5 Free";
      content: "\f107";
      margin-right: 10px;
    }
    &:hover {
      background-color: darken($gray-blue-50, 2%);
    }
    &[aria-expanded="true"] {
      &:before {
        content: "\f106";
      }
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
  .details-wrapper {
    padding: 0 2rem;
    border: 1px solid $gray-blue-50;
    border-top: none;

  }
  a.details-title {
    color: #000;
    text-decoration: none;
  }
}
