/* ---------- Color Module Styles ----------- */

.channel--boxed:before {
  background: #7ea696;
}

.channel--bordered,
.layout-region--article-header .field--name-field-channel {
  border-left-color: #7ea696;
}

.teaser--compact.is--highlighted:before {
  background: #7ea696!important;
}

/*
 * Primary Button
 */
.button--primary {
  background-color: #000000!important;
  border-color: #000000!important;
}
.button--primary:hover {
  background-color: #7ea696!important;
  border-color: #7ea696!important;
}

/*
 * Article text & links
 */
.paragraph--type--text {
  color: #000000!important;
}
.paragraph--type--text a,
.paragraph--type--text a:hover {
  color: #7ea696!important;
}

.paragraph--type--text hr {
  border-top: #7ea696;
}

/*
* Poll
*/

.poll__choice__percent {
  color: #7ea696;
}

.poll .bar .foreground {
  background-color: #7ea696;
}
